@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --primary: antiquewhite;
  --secondary: purple;
  --dark: rgb(255, 255, 255, 0);
}

body {
  font: "Roboto Condensed" sans-serif;
}

/*---------------------- NavBar ----------------------*/

.c-logo {
  height: 4rem;
  width: auto;
}

/*---------------------- Menu ----------------------*/

nav a.nav-link {
  font-weight: 250;
  letter-spacing: .0375rem;
  
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary) !important;
  margin-left: .5rem !important;
  margin-right: .5rem !important;
  border-top: 0.2rem solid var(--dark);
  
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.2rem solid var(--secondary);
}

.navbar-nav > li > a:hover {
  border-top: 0.2rem solid var(--secondary);
}

.navbar-brand {
  padding: 0 !important;
}